body
    padding-top 100px
    background-color: #E9EAED;
header
    .navbar-default
        background-color white
        -webkit-box-shadow rgba(0, 0, 0, 0.172549) 0px 6px 6px
        box-shadow rgba(0, 0, 0, 0.172549) 0px 6px 6px
        .dropdown-menu
            top 45px
    .config-dialog
        background-color white
        position absolute
        top 55px
        right 13px
        width 250px
        height auto
        padding 20px
        border 1px solid rgba(0, 0, 0, 0.14902)
        border-radius 4px;
        -webkit-box-shadow rgba(0, 0, 0, 0.172549) 0px 6px 6px
        box-shadow rgba(0, 0, 0, 0.172549) 0px 6px 6px
        z-index 1000
        color #5a5a5a
        .option
            margin 0
a
    cursor pointer
.loader
    text-align center
    display table-cell
    width 100%
    padding 100px 0
    color #888
.relative
    position relative
    .btn-images
        position absolute
        top 5px
        left 5px
.results-container
    padding 0
    overflow hidden
    height 380px;
    overflow-y scroll
.results
    display table
    position relative
    vertical-align middle
    text-align center
    width 100%
    height auto
    box-sizing border-box
    padding 10px
    padding-bottom 50px
    color #5a5a5a
    .loader
        text-align center
        display table-cell
        width 100%
        padding 100px 0
        color #888
    .no-results
        display table-cell
        width 100%
        padding 100px 20px
        color #888
    
.btn-circle
    border-radius 50%
    outline none
.inline
    display inline-block

article
    background-color white
    padding 0
    border 1px solid rgba(0, 0, 0, 0.14902)
    border-radius 4px
    -webkit-box-shadow rgba(0, 0, 0, 0.172549) 0px 6px 6px
    box-shadow rgba(0, 0, 0, 0.172549) 0px 6px 6px        
    figure
        padding 0
        display table
        position relative
        vertical-align middle
        text-align center
        width 100%
        height auto
        box-sizing border-box
        h4
            position absolute
            top 5px
            left 5px
    .no-image
        display table-cell
        width 100%
        padding 100px 20px
        color #888
    canvas
        width 100%;
    .canvas 
        position absolute
        top 0
        left 0
.alert
    margin-top 20px
    -webkit-box-shadow rgba(0, 0, 0, 0.172549) 0px 6px 6px
    box-shadow rgba(0, 0, 0, 0.172549) 0px 6px 6px  
footer
    background-color white
    color #484848
    padding 20px 0
    position fixed
    bottom 0 
    width 100%